<!doctype html>
<html>
<head>
	<%- include("../fragments/head.ejs") %>
	<title>404</title>
</head>
<body>

<%- include("../fragments/header.ejs") %>

<main><br><br><br><br><br>
	<h3 style="text-align: center; font-size: 100px;">404!!!</h3>

</main><br><br><br><br><br><br><br>

<%- include("../fragments/footer.ejs") %>
</body>
</html>