<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Eroare</title>
		<%- include("../fragments/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../fragments/header") %>
		</header>
		<main>
			
			<h1>Eroare</h1>
			<p><%= locals.mesaj %></p>
		</main>
		<footer>
			<%- include("../fragments/footer") %>
		</footer>
	</body>
</html>