<!DOCTYPE html>
<html lang="ro">
    <head>
    

    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width">-->
    <meta name="keywords" content="compozitorii, melodii, clasica, artist">
    <meta name="description" content="Galerie statica cu instrumente muzicale">
    <meta name="author" content="Unal Melissa">
    <link rel="stylesheet" href="CSS/style.css" type="text/css" />
    <link rel="stylesheet" href="CSS/style_700.css" type="text/css" media="screen and (max-width: 700px) and (min-width: 551px)" />
    <link rel="stylesheet" href="CSS/style_400.css" type="text/css" media="screen and (max-width: 550px)" />
    <link rel="stylesheet" href="CSS/index.css" type="text/css"/>
    <link rel="stylesheet" href="CSS/galerieanimata.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Caladea" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon1.ico" />

    <title>
        Galerie Animata
    </title>

    </head>
<body>
     <%- include("../fragments/header.ejs")%>
    <section id="galerie_animata">
        <h2 style="text-align: center;">Galerie Animata</h2><br><br><br>

        <div id="galerie_animata" class="galerie">
            <div>
                <figure>
                    <img src="galerie_animata/cello.jpg" alt="cello" />
                    <figcaption>Cello</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/clarinet.jpg" alt="clarinet" />
                    <figcaption>Clarinet</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/double_bass.jpg" alt="double_bass" />
                    <figcaption>Double Bass</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/drums.jpg" alt="drums" />
                    <figcaption>Drums</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/flute.jpg" alt="flute" />
                    <figcaption>Flute</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/harp.jpg" alt="harp" />
                    <figcaption>Harp</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/piann.jpg" alt="piano1" />
                    <figcaption>Piano1</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/piannn.jpg" alt="piano2" />
                    <figcaption>Piano2</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/piano.jpg" alt="piano3" />
                    <figcaption>Piano3</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/trombone.jpg" alt="trombone" />
                    <figcaption>Trombone</figcaption>
                </figure>
                <figure>
                    <img src="galerie_animata/violin.jpg" alt="violin" />
                    <figcaption>Violin</figcaption>
                </figure>


            </div>
        </div>



        


        

    </section>


</body>
</html>
