<!DOCTYPE html>
<html lang="ro">
<head>
	<title>Pagina principala</title>

	<%- include("../fragments/head") %>
</head>
<body class="container">

<header>
	<%- include("../fragments/header") %>
</header>

<main>
    Ai fost delogat!
</main>

<footer>
	<%- include("../fragments/footer.ejs") %>
</footer>

</body>
</html>