#gr_extraterestri
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#gr_extraterestri section
{
    background-color: lightblue;
    border: 2px solid blue;
}

#gr_extraterestri section:nth-child(6n+2),
#gr_extraterestri section:nth-child(6n+4),
#gr_extraterestri section:nth-child(6n+6)
{

    background-color: white;
}

#gr_extraterestri section>ul>li:nth-child(even):hover
{
    background-color: lightblue;
}