<footer>
    e-mail: <a href="mailto:melissa_unal@live.com">melissa_unal@live.com</a>
    <address>Bucuresti, Romania</address>
    <div id="link-top"><a href="#"><i class="fas fa-arrow-up"></i></a></div>
</footer>