<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width">-->
    <meta name="keywords" content="compozitorii, melodii, clasica, artist">
    <meta name="description" content="Descrierea muzicii clasice">
    <meta name="author" content="Unal Melissa">
    <link rel="stylesheet" href="CSS/style.css" type="text/css" />
    <link rel="stylesheet" href="CSS/style_700.css" type="text/css" media="screen and (max-width: 700px) and (min-width: 601px)" />
    <link rel="stylesheet" href="CSS/style_400.css" type="text/css" media="screen and (max-width: 600px)" />
    <link rel="stylesheet" href="CSS/index.css" type="text/css"/>
    <link rel="stylesheet" href="CSS/galerieanimata.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Caladea" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon1.ico" />
    <script src="scripturi/inregistrare.js"></script>
    <title> Minstrel's Stream </title>

</head>